/***
this css has the themelist stuff
***/

/**
general
**/
main {
	padding:20px 40px
}

/**
themelist container
**/
#themelist {
	display: block;
	text-align: -webkit-center;
}

/**
theme
**/
.theme {
	/* style */
	background: linear-gradient(360deg, hsla(0, 0%, 8%, 1) 0%, hsla(0, 0%, 16%, 1) 20%);
	box-shadow: inset 0 1px 0 0 #ffffff1a, 0 2px 0 0 #0000006e;
	color: #fff;
	text-align: center;
	text-decoration: none;
	max-width: 150px;
	height: 205px;
	border-radius: 6px;
	transition: 0.05s linear;
	padding: 3px;
	/* layout */
	display: inline-table;
	position: relative;
	margin: 5px;	
}
.theme:hover {
	box-shadow: inset 0px 1px 0 0px #ffffff1a, 0px 5px 8px 0px #0000006e;
}
/* items */
.theme>a, .theme>a:visited {
	color: #fff;
	text-decoration: none;
}
.theme>a>img {
	border-radius: 6px;
}
.theme>a>p {
	margin: 0;
}
